* {
  @include box-sizing(border-box);
}
@mixin lista {
  width: 19% ;
  padding: 0;
  margin: 0.5em auto;
  display: inline-block;
  @media (max-width: $screen-md-min) {
    display: block;
    width: 100%;
    button {
      margin: 0 auto;
    }
  }

}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 1em;
}

p {
  margin: 0 auto;
  @media (max-width: $screen-md-min) {
    font-size: $font-size-base;
    margin: 1em auto;
  }
}
h4 {
  margin-top: ($line-height-computed / 2);
  //margin-bottom: 2em;
  font-size: $font-size-h4;
  text-align: center;
}

.container {

  @include container-fixed;
  
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

}
#content {
  @extend .row;
  padding:0.5em;
  margin: 0 auto;
}

.row {
  @extend .row;
  padding:0.5em;
  margin: 0 auto;
}
.pleft {
  color: $brand-danger;
  font-size: $font-size-base;
  margin: -1em 0 1em 0;
  text-align: center;
  line-height: $line-height-base;
  @media (max-width: $screen-md-min) {
    margin-top: -0.5em; 
  }
}

/********** FORMS ***************/
form {
  @extend .form-horizontal;
  width: 80%;
  //margin: 0 auto;
  padding: 0 1em;
  @media (min-width: $screen-md-min) {
    padding: 0;
  }
}
form > div {
  @extend .form-group;
  padding-left: -25px;
  margin-left: 0;
  button {  width: 70%; margin-left: 14%;  }
}
#searchForm { 
  width: 100%; 
  @media (max-width: $screen-md-min) {
    margin: 0 auto;
  }
}

#editdata, #newdata, #deletedata, #clientform, #editclient {
  border: 1px solid #ccc;
  width: 100%;
  padding: 2em;
  @media (max-width: $screen-md-min) {
    label {
      margin: 0 ;
    }
  }
  input, select {
      @extend .col-sm-10;
    }
}

input, li input, select{
  @extend .form-control;
  width: 90%;
  margin: 0 auto;
  border-width: 0 0 1px 0;
  border-radius: 0;
  @media (max-width: $screen-sm-min) {
    width: 95%;
    margin: 0.5em 0;
  }

}

#search {
  width: 70%;
  @media (max-width: $screen-sm-min) {
    display: inline-block;
    width: 95%;
    margin: 0.5em;
  }
}

label {
  margin: 0 0 -3em -2em;
  vertical-align: middle;
  @media (max-width: $screen-sm-min) {
    display: inline-block;
    margin: 0;
  }
  @extend .control-label;
  @extend .col-sm-2;
}

/********** LIST ***************/
ul { padding: 0;}
ul li {
  @include lista;
  button {
    width: 45%;
    margin-left: 1.25%;
    @media (max-width: $screen-sm-min) {
      padding: 0.5em;
      margin-left: 0.2em;
    }
  }
  @media (max-width: $screen-sm-min) {
    display: inline-block;
    margin: 0 auto;
  }
}

#list_data  {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#list_data li{ 
  @include lista;
  border: 1px solid #999;
  text-align: center;
  padding: 10px 2px;
  background-color: #333;
  color: #fff;
    @media (max-width: $screen-md-min) {
      display: none;
    }
}

/********** BUTTONS ***************/
button {
  width: 15%;
  text-align: center;
  @extend .btn;
  @extend .btn-default;
  @media (max-width: $screen-md-min) {
    width: 50%;
    background-color: #333;
    color: #fff;
  }

}
